/* .header-wrapper .navigation{
  padding-top: 50px;
} */
.menu_dropdown{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  
}

.nmenu-item:hover .menu_dropdown,
.menu-item.open .menu_dropdown {
  display: block;
}
/* .language_btn img{
  width: 30px;
  height: 30px;
} */

@media only screen and (max-width:480px) {
header {

min-width: 60px;
min-height: 60px;}
}