
/* Stepper Container */
.stepper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 2em auto;
    padding: 0;
    position: relative;
}

/* Step */
.stepper .step {
    /* flex: 1; */
    text-align: center;
    padding: 0px 10px;
    border-radius: 50px;
    background-color: #ddd;
    color: #888;
    position: relative;
    font-weight: 500;
    z-index: 1;
    transition: background-color 0.3s, color 0.3s;
}

/* Active Step */
.stepper .step.active {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

/* Lines between steps */
.stepper .step:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 31px;
    width: 158px;
    height: 3px;
    background: #ccc;
    z-index: -1;
    transform: translateY(-50%);
}

/* Line color for previous steps */
.stepper .step.active~.step::after {
    background: #eee;
}
.productform-wrapper .errorMsg {
    font-size: 13px;
    color: red;
    display: none;
}