
.product_card_section .product_card_section_tabs {
    display: flex;
    cursor: pointer;
    margin: 1rem auto;
    gap: .5rem;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto
}

.product_card_section .product_card_section_tabs li {
    padding: .5rem 1rem;
    list-style-type: none;
    background: #fafafa;
    border-radius: .5rem;
    border: 1px solid #fafafa;
    color: #757575;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    gap: .3rem;
    width: 23%
}

.product_card_section .product_card_section_tabs li small {
    font-weight: 400
}

.product_card_section .product_card_section_tabs li.active,
.product_card_section .product_card_section_tabs li:hover {
    background: #fff;
    color: #136da3;
    border: 1px solid #136da3;
    font-weight: 600
}

.product_card_section .product_card_section_tabs li.active small {
    color: #1a1a1a;
    font-weight: 400
}

.product_card_section .product_card_section_tab_content {
    display: none;
    border: 1px solid #136da3;
    border-radius: .5rem;
    padding: 1rem
}

.product_card_section .product_card_section_tab_content .product_c,
.youtube-container {
    display: flex;
    gap: 2rem
}

.product_card_section .product_card_section_tab_content .product_c .content {
    color: #1a1a1a;
    display: flex;
    flex-direction: column
}

.product_card_section .product_card_section_tab_content .product_c .content h3 {
    font-size: 24px;
    padding: 0;
    margin: 0
}

.product_card_section .product_card_section_tab_content .product_c .content .usp {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: .8rem 0;
    list-style-type: none;
    font-size: 14px
}

.product_card_section .product_card_section_tab_content .product_c .content .usp li {
    width: 50%;
    display: flex;
    align-items: center;
    gap: .3rem;
    flex-grow: 1;
    flex-shrink: 0;
    list-style-type: none
}

.product_card_section .product_card_section_tab_content .product_c .content .amount {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: .8rem 0;
    list-style-type: none;
    align-items: center;
    gap: 2rem
}

.product_card_section .product_card_section_tab_content .product_c .content .amount li {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 14px
}

.product_card_section .product_card_section_tab_content .product_c .content .amount li b {
    color: #136da3;
    font-size: 18px
}

.product_card_section .product_card_section_tab_content .product_c .content .amount li a {
    background: #fcdf00;
    border-radius: .3rem;
    padding: .7rem 2rem;
    color: #333;
    font-size: 18px;
    text-decoration: none
}
